In [1]:
# Connecting to database and create a Jupyter Notebook in VS Code
import pymysql
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt

userName = 'root'
userPass = 'Cli406615!'

In [3]:
# Create a code block to connect to the climate_change_related database
conn = pymysql.connect(host='localhost', port=int(3306), user=userName, passwd=userPass, db='climate_change_related')

In [4]:
# Query the climate_change_related database for all the table names:
df = pd.read_sql_query("Show Tables", conn)
df

  Tables_in_climate_change_related
0              emission_by_country
1               temperature_change
2                 world_population

In [23]:
# Aggregate the average temperature by every decade (1960-1970)
sql1 = "SELECT Area, ((AVG(Y1961)+AVG(Y1962)+AVG(Y1963)+AVG(Y1964)+AVG(Y1965)+AVG(Y1966)+AVG(Y1967)+AVG(Y1968)+AVG(Y1969)+AVG(Y1970))/10)\
AS 1970_Avg_temp_chg FROM climate_change_related.temperature_change GROUP BY Area;"
df1 = pd.read_sql_query(sql1, conn)
print(df1)

                                        Area  1970_Avg_temp_chg
0                                Afghanistan           0.575103
1                                    Albania           0.582135
2                                    Algeria           0.463803
3                                    Andorra           0.628035
4                                     Angola           0.150088
..                                       ...                ...
201        Low Income Food Deficit Countries           0.144994
202  Net Food Importing Developing Countries           0.141644
203                        Annex I countries           0.244315
204                    Non-Annex I countries           0.134174
205                                     OECD           0.196932

[206 rows x 2 columns]

In [25]:
# Joining 1970 average temp change with population
sql2 = "SELECT p.`Country/Territory` AS Area, p.`1970 Population`, a.1970_Avg_temp_chg FROM climate_change_related.world_population p LEFT OUTER JOIN ( SELECT Area, ((AVG(Y1961)+AVG(Y1962)+AVG(Y1963)+AVG(Y1964)+AVG(Y1965)+AVG(Y1966)+AVG(Y1967)+AVG(Y1968)+AVG(Y1969)+AVG(Y1970))/10) AS 1970_Avg_temp_chg FROM climate_change_related.temperature_change GROUP BY Area) AS a ON p.`Country/Territory` = a.Area"
df2 = pd.read_sql_query(sql2, conn)
print(df2)

                  Area  1970 Population  1970_Avg_temp_chg
0          Afghanistan         10752971           0.575103
1              Albania          2324731           0.582135
2              Algeria         13795915           0.463803
3       American Samoa            27075                NaN
4              Andorra            19860           0.628035
..                 ...              ...                ...
229  Wallis and Futuna             9377                NaN
230     Western Sahara            76371           0.636109
231              Yemen          6843607                NaN
232             Zambia          4281671           0.222316
233           Zimbabwe          5202918           0.359629

[234 rows x 3 columns]

In [24]:
# Filter out unncessary years when there is no data in the emission_by_country
sql3 = "SELECT * FROM climate_change_related.emission_by_country WHERE Total != 0;"
df3 = pd.read_sql_query(sql3, conn)
print(df3)

           Country ISO 3166-1 alpha-3  Year  Total      Coal       Oil  \
0      Afghanistan                AFG  1962      1  0.296784  0.362736
1      Afghanistan                AFG  1963      1  0.263808  0.392048
2      Afghanistan                AFG  1964      1  0.300448  0.476320
3      Afghanistan                AFG  1965      1  0.381056  0.542272
4      Afghanistan                AFG  1966      1  0.428688  0.575248
...            ...                ...   ...    ...       ...       ...
11110     Cameroon                CMR  2008      5         0  4.330088
11111     Cameroon                CMR  2009      7         0  5.580851
11112     Cameroon                CMR  2010      7         0  5.682864
11113     Cameroon                CMR  2011      7         0  5.657216
11114     Cameroon                CMR  2012      8         0  5.158912

            Gas    Cement   Flaring Other Per Capita
0             0  0.029074         0         0.076775
1             0  0.050880         0         0.077176
2             0  0.061783         0         0.089632
3             0  0.083589         0         0.105269
4             0  0.087223         0         0.111535
...         ...       ...       ...   ...        ...
11110  0.711293  0.384635         0         0.288970
11111  0.589578  0.423621         0         0.341320
11112  0.593568  0.385615         0         0.335146
11113  0.425024  0.438303         0         0.318871
11114  0.509296  0.487499  1.447675         0.361503

[11115 rows x 11 columns]