In [1]:
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt
import os

In [2]:
# Set local environment variables to hide user name & password
user_name = os.environ['MySQLUSRAC']
user_pass = os.environ['MySQLPWDAC']

# Instantiate connection
db_conn = mysql.connect(host='localhost', port=int(3306), user=user_name, passwd=user_pass, db='507_final_proj')

In [3]:
tbl_names = pd.read_sql('SHOW TABLES', db_conn)

display(tbl_names)
print(type(tbl_names))

  Tables_in_507_final_proj
0              country_map
1          emissions_gross
2                      iso
3               population
4               temp_core1
5               temp_core2
6              temperature

<class 'pandas.core.frame.DataFrame'>