In [1]:
import numpy as np
import pandas as pd
import pymysql as mysql
import matplotlib.pyplot as plt
import os

pd.options.display.max_rows = 17

In [2]:
# Set local environment variables to hide user name & password
user_name = os.environ['MySQLUSRAC']
user_pass = os.environ['MySQLPWDAC']

# Instantiate connection
db_conn = mysql.connect(host='localhost', port=int(3306), user=user_name, passwd=user_pass, db='507_final_proj')

In [3]:
tbl_names = pd.read_sql('SHOW TABLES', db_conn)

display(tbl_names)
print(type(tbl_names))

  Tables_in_507_final_proj
0              country_map
1          emissions_gross
2          emissions_tempy
3                      iso
4                iso_tempy
5               population
6         population_tempy
7              temperature
8        temperature_tempy

<class 'pandas.core.frame.DataFrame'>

## Update iso table

ist_tbl_slct_all_stmnt = """SELECT * FROM iso_tempy"""
ist_tbl_slct_all_rd = pd.read_sql(ist_tbl_slct_all_stmnt, db_conn)
ist_tbl_slct_all_rd

In [4]:
# Using cursor, loading into temp file citation: OpenAI. (2021). ChatGPT [Computer software]. https://openai.com/
# OPEN
# Create a cursor object
cursor = db_conn.cursor()

# Wipe temp table
ist_dlt_tble_stmnt = """DELETE FROM iso_tempy"""
cursor.execute(ist_dlt_tble_stmnt)

# Load data from CSV file into a temporary table
ist_csv_load_stmnt = """
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/FAOSTAT_data_11-24-2020.csv'
INTO TABLE iso_tempy
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS
(
country_code,
country,
m49_code,
iso2,
iso3,
year_start,
year_end
)
"""
cursor.execute(ist_csv_load_stmnt)

# Insert new records into main table
egm_load_stmtn = """
INSERT INTO iso
(
country_code,
country,
m49_code,
iso2,
iso3,
year_start,
year_end
)
SELECT
tp.country_code,
tp.country,
tp.m49_code,
tp.iso2,
tp.iso3,
tp.year_start,
tp.year_end
FROM iso_tempy AS tp
LEFT JOIN iso AS mn
ON tp.iso3 = mn.iso3
WHERE mn.iso3 IS NULL
"""
cursor.execute(egm_load_stmtn)

cursor.execute(ist_dlt_tble_stmnt)

321

ist_slct_all_stmnt = """SELECT * FROM iso_tempy"""
ist_slct_all_rd = pd.read_sql(ist_slct_all_stmnt, db_conn)

display(ist_slct_all_rd)

ism_slct_all_stmnt = """SELECT * FROM iso"""
ism_slct_all_rd = pd.read_sql(ism_slct_all_stmnt, db_conn)

display(ism_slct_all_rd)

ism_slct_iso3_null_stmnt = """SELECT * FROM iso WHERE iso3 = '' LIMIT 100000"""
ism_slct_iso3_null_rd = pd.read_sql(ism_slct_iso3_null_stmnt, db_conn)

display(ism_slct_iso3_null_rd)

## Update emissions_gross table

In [5]:
# Wipe temp table
egt_dlt_tble_stmnt = """DELETE FROM emissions_tempy"""
cursor.execute(egt_dlt_tble_stmnt)

# Load data from CSV file into a temporary table
egt_csv_load_stmnt = """
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/GCB2022v27_MtCO2_flat.csv'
INTO TABLE emissions_tempy
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS
(
country,
iso3,
record_year,
total,
coal,
oil,
gas,
cement,
flaring,
other,
per_capita
)
"""
cursor.execute(egt_csv_load_stmnt)

# Insert new records into main table
egm_load_stmtn = """
INSERT INTO emissions_gross
(
country,
iso3,
record_year,
total,
coal,
oil,
gas,
cement,
flaring,
other,
per_capita
)
SELECT
tp.country,
tp.iso3,
tp.record_year,
tp.total,
tp.coal,
tp.oil,
tp.gas,
tp.cement,
tp.flaring,
tp.other,
tp.per_capita
FROM emissions_tempy AS tp
LEFT JOIN emissions_gross AS mn
ON tp.iso3 = mn.iso3 AND tp.record_year = mn.record_year
WHERE mn.iso3 IS NULL AND mn.record_year IS NULL
"""
cursor.execute(egm_load_stmtn)

cursor.execute(egt_dlt_tble_stmnt)

63104

## Update population table

In [6]:
# Wipe temp table
ppt_dlt_tble_stmnt = """DELETE FROM population_tempy"""
cursor.execute(ppt_dlt_tble_stmnt)

# Load data from CSV file into a temporary table
ppt_csv_load_stmnt = """
LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/world_population.csv'
INTO TABLE population_tempy
FIELDS TERMINATED BY ','
OPTIONALLY ENCLOSED BY '"'
LINES TERMINATED BY '\r\n'
IGNORE 1 ROWS
(
pop_rank,
iso3,
country,
capital,
continent,
pop_2022,
pop_2020,
pop_2015,
pop_2010,
pop_2000,
pop_1990,
pop_1980,
pop_1970,
area,
density,
grow_rate,
pop_perc
)
"""
cursor.execute(ppt_csv_load_stmnt)

# Insert new records into main table
ppm_load_stmtn = """
INSERT INTO population
(
pop_rank,
iso3,
country,
capital,
continent,
pop_2022,
pop_2020,
pop_2015,
pop_2010,
pop_2000,
pop_1990,
pop_1980,
pop_1970,
area,
density,
grow_rate,
pop_perc
)
SELECT
tp.pop_rank,
tp.iso3,
tp.country,
tp.capital,
tp.continent,
tp.pop_2022,
tp.pop_2020,
tp.pop_2015,
tp.pop_2010,
tp.pop_2000,
tp.pop_1990,
tp.pop_1980,
tp.pop_1970,
tp.area,
tp.density,
tp.grow_rate,
tp.pop_perc
FROM population_tempy AS tp
LEFT JOIN population AS mn
ON tp.iso3 = mn.iso3
WHERE mn.iso3 IS NULL
"""
cursor.execute(ppm_load_stmtn)

cursor.execute(ppt_dlt_tble_stmnt)

234

In [7]:
# Commit the changes to the database
db_conn.commit()

# Close the cursor and database connection
cursor.close()
db_conn.close()